<div class="d-flex flex-column">
  <label *ngIf="label">{{ label }}</label>
  <p-dropdown
    [formControl]="control"
    [options]="options"
    [optionLabel]="itemLabel"
    [optionValue]="itemValue"
    [placeholder]="placeholder"
    [dropdownIcon]="
      dropdownIcon ? 'lh-icon lh-icon-' + dropdownIcon : 'pi pi-chevron-down'
    "
    [showClear]="clearable"
    [ngClass]="[
      fullWidth ? 'full-width' : 'small',
      control.invalid && (control.touched || control.dirty) ? 'error' : ''
    ]"
    [styleClass]="styleClass"
    [virtualScroll]="true"
    [virtualScrollItemSize]="30"
    appendTo="body"
    [filter]="searchable"
    (onFilter)="onFilterChange()"
  >
  </p-dropdown>
</div>
