<form [formGroup]="filterForm">
  <div class="d-flex justify-content-center w-100 filter-container">
    <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="category">Category</label>
      <p-multiSelect
        [options]="categoriesList"
        formControlName="category"
        optionLabel="description"
        optionValue=""
        [formGroup]="filterForm"
        id="category"
      ></p-multiSelect>
    </div>
    <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="dietPreferences"
        >Diet Preferences</label
      >
      <p-multiSelect
        [options]="dietPreferencesList"
        formControlName="dietPreferences"
        optionLabel="description"
        optionValue=""
        [formGroup]="filterForm"
        id="dietPreferences"
      ></p-multiSelect>
    </div>
    <!-- <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="ingredients">Ingredients</label>
      <p-multiSelect
        [options]="cities"
        formControlName="ingredients"
        optionLabel="name"
        optionValue="code"
        [formGroup]="filterForm"
        id="ingredients"
      ></p-multiSelect>
    </div> -->
    <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="healthGoals">Health Goals</label>
      <p-multiSelect
        [options]="healthGoalsList"
        formControlName="healthGoals"
        optionLabel="description"
        optionValue=""
        [formGroup]="filterForm"
        id="healthGoals"
      ></p-multiSelect>
    </div>
    <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="cookingStyle">Cooking Style</label>
      <p-multiSelect
        [options]="cookingStylesList"
        formControlName="cookingStyle"
        optionLabel="description"
        optionValue=""
        [formGroup]="filterForm"
        id="cookingStyle"
      ></p-multiSelect>
    </div>
    <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="cuisine">Cuisine </label>
      <p-multiSelect
        [options]="cuisineList"
        formControlName="cuisine"
        optionLabel="description"
        optionValue=""
        [formGroup]="filterForm"
        id="cuisine"
      ></p-multiSelect>
    </div>
    <div class="d-flex flex-column mx-3">
      <label class="mt-2 filter-label" for="environmentalImpactFeature"
        >Environmental Impact Feature</label
      >
      <p-multiSelect
        [options]="environmentalImpactList"
        formControlName="environmentalImpactFeature"
        optionLabel="description"
        optionValue=""
        [formGroup]="filterForm"
        id="environmentalImpactFeature"
      ></p-multiSelect>
    </div>
  </div>
</form>

<meals></meals>
