.filter-label {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.15em;
    margin: 15px 0;
    text-align: left;
}

::ng-deep.p-multiselect {
    width: 180px;
}

.filter-container {
    height: auto;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.156);
    margin-bottom: 20px;
}