<nav class="navbar justify-content-between mx-3">
  <div class="logo">
    <span class="logo">
      <a href="/">
        <span id="title">EcoHack</span>
      </a>
    </span>
  </div>
  <div class="nav">
    <ul class="menu-default">
      <li id="active" class="menu-item-wrap nav-1" *ngIf="isCustomer">
        <a href="/cart" class="menu-item"> CART </a>
      </li>
      <li class="menu-item-wrap nav-2" *ngIf="isCustomer">
        <a
          [href]="isCustomer ? '/customer-profile' : '/provider-profile'"
          class="menu-item"
        >
          PROFILE
        </a>
      </li>
      <li class="menu-item-wrap nav-3" (click)="logout()" *ngIf="role">
        <a href="/" class="menu-item"> LOGOUT </a>
      </li>
    </ul>
  </div>
</nav>
