@import '../../../styles';

.navbar {
    margin-top: 40px;
    margin-bottom: 40px;
}

#title {
    color: $primary-color !important;
    font-size: 1.1em !important;
    line-height: 1.4em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    vertical-align: top !important;
}

.nav {
    display: table-cell;
    vertical-align: middle;
}

.nav ul {
    float: right;
    max-width: calc(100vw - 480px);
    overflow: hidden;
}

.nav li {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.nav .menu-item {
    display: block;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: $primary-color !important;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.nav li:not(.wsite-nav-cart)#active>.wsite-menu-item {
    border-color: inherit;
}

.nav li .menu-item:hover {
    opacity: 0.6;
}

.nav #wsite-nav-cart-a {
    padding-right: 0;
}

.nav #wsite-nav-cart-num {
    display: inline-block;
    min-width: 10px;
    padding: 2px 3px;
    margin-left: 2px;
    text-align: center;
    background: #ffffff;
    color: #9AD2B2;
}

.mobile-nav {
    display: none;
}

#wsite-menus>.wsite-menu-wrap>.wsite-menu .wsite-menu {
    margin: 0 -1px;
}

#wsite-menus .wsite-menu {
    position: relative;
    background: #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 1px #9AD2B2;
    -moz-box-shadow: inset 0px 0px 0px 1px #9AD2B2;
    -ms-box-shadow: inset 0px 0px 0px 1px #9AD2B2;
    box-shadow: inset 0px 0px 0px 1px #9AD2B2;
}

#wsite-menus .wsite-menu li a {
    background: transparent;
    color: #9AD2B2;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
}



//video
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}