.header {
    position: absolute;
    top: 25%;
    left: 60px;
}

.header-text {
    text-align: left;
    font-size: calc(16px + 2vw);
    font-weight: 700;
    color: white;
    font-family: "Open sans";
    line-height: 48px;
}