<div style="position: relative">
  <img
    src="../../../assets/images/earth-spin5-2-1619034499.gif"
    width="100%"
    height="auto"
  />
  <div class="header header-text">
    <p>Wasting food</p>
    <p>Feeds climate change</p>
    <button class="ecohack-primary-button" routerLink="/login">Login</button>
  </div>
</div>
