<form [formGroup]="mealForm" (ngSubmit)="submit()" >

  <div class="form-group">
    <label for="name2">Name</label>
    <input
      type="name"
      class="form-control"
      id="name2"
      placeholder="Name"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="name"
      class="form-control"
      id="description"
      placeholder="Description"
      formControlName="description"
    />
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" placeholder="Price" formControlName="price" />
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" (change)="onChange($event)" />
  </div>
      
  <div class="form-group">
    <label for="selectedDietPreference">Diet Preference</label>
    <p-multiSelect [options]="dietPreferencesList" 
      formControlName="diets" 
      optionLabel="name" optionValue="id">
    </p-multiSelect>
  </div>

  <div class="form-group">
    <label for="selectedHealthGoals">Health Goals</label>
    <p-multiSelect [options]="healthGoalsList" 
      formControlName="health_goals" 
      optionLabel="name" optionValue="id">
    </p-multiSelect>
  </div>

  <div class="form-group">
    <label for="selectedCookingSytle">Cooking Style</label>
    <p-multiSelect [options]="cookingStylesList" 
      formControlName="cooking_styles" 
      optionLabel="name" optionValue="id">
    </p-multiSelect>
  </div>

  <div class="form-group">
    <label for="selectedIngredient">Ingredients</label>
    <p-multiSelect [options]="ingredientsList" 
      formControlName="selectedIngredient" 
      optionLabel="name" optionValue="id">
    </p-multiSelect>
  </div>

  <div class="form-group">
    <label for="selectedCuisine">Cuisine</label>
    <p-multiSelect [options]="cuisineList" 
      formControlName="selectedCuisine" 
      optionLabel="name" optionValue="id">
    </p-multiSelect>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
