<p-card
  [header]="title"
  [subheader]="subtitle"
  [style]="{ width: '360px' }"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="../../../../assets/images/preview.png" />
  </ng-template>
  <div class="d-flex">
    <img
      alt="Card"
      class="leaf-img"
      src="../../../../assets/images/leaf.png"
      *ngIf="envImpact === '1' || envImpact === '2' || envImpact === '3'"
    />
    <img
      alt="Card"
      class="leaf-img"
      src="../../../../assets/images/leaf.png"
      *ngIf="envImpact === '2' || envImpact === '3'"
    />
    <img
      alt="Card"
      class="leaf-img"
      src="../../../../assets/images/leaf.png"
      *ngIf="envImpact === '3'"
    />
  </div>

  <p>
    {{ description }}
  </p>
</p-card>
