<div class="register">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="inputEmail4">First Name</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="First Name"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="inputEmail4">Last Name</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword4">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        placeholder="Password"
        formControlName="password"

      />
    </div>
    <div class="form-group">
      <label for="inputPassword24">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword24"
        placeholder="Confirm Password"
        formControlName="password2"
      />
    </div>
    

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"  formControlName="isProvider"> Provider </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
