<p-toast></p-toast>
<p-steps
  [model]="items"
  [readonly]="false"
  [activeIndex]="activeIndex"
  (activeIndexChange)="onActiveIndexChange($event)"
></p-steps>
<form [formGroup]="steperForm">
  <!-- First question -->
  <div class="question-content w-100 p-4" *ngIf="activeIndex === 0">
    <div class="d-flex flex-column w-100 align-items-center cat">
      <label class="mt-2 filter-label" for="category">Category</label>
      <p-multiSelect
        [options]="categoriesList"
        formControlName="category"
        optionLabel="description"
        optionValue=""
        [formGroup]="steperForm"
        id="category"
        placeholder="Select category"
      ></p-multiSelect>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="next(1)">Next</button>
    </div>
  </div>
  <!-- Second question -->
  <div class="question-content w-100 p-4" *ngIf="activeIndex === 1">
    <div class="d-flex flex-column w-100 align-items-center cat">
      <label class="mt-2 filter-label" for="healthGoals">Health Goals</label>
      <p-multiSelect
        [options]="healthGoalsList"
        formControlName="healthGoals"
        optionLabel="description"
        optionValue=""
        [formGroup]="steperForm"
        id="healthGoals"
        placeholder="Select category"
      ></p-multiSelect>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="next(2)">Next</button>
    </div>
  </div>
  <!-- Third question -->
  <div class="question-content w-100 p-4" *ngIf="activeIndex === 2">
    <div class="d-flex flex-column w-100 align-items-center cat">
      <label class="mt-2 filter-label" for="cuisine">Cuisine </label>
      <p-multiSelect
        [options]="cuisineList"
        formControlName="cuisine"
        optionLabel="description"
        optionValue=""
        [formGroup]="steperForm"
        id="cuisine"
        placeholder="Select category"
      ></p-multiSelect>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="next(3)">Next</button>
    </div>
  </div>
  <!-- Fourth question -->
  <div class="question-content w-100 p-4" *ngIf="activeIndex === 3">
    <div class="d-flex flex-column w-100 align-items-center cat">
      <label class="mt-2 filter-label" for="cookingStyle">Cooking Style</label>
      <p-multiSelect
        [options]="cookingStylesList"
        formControlName="cookingStyle"
        optionLabel="description"
        optionValue=""
        [formGroup]="steperForm"
        id="cookingStyle"
        placeholder="Select category"
      ></p-multiSelect>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="next(4)">Next</button>
    </div>
  </div>
  <!-- Fifth question -->
  <div class="question-content w-100 p-4" *ngIf="activeIndex === 4">
    <div class="d-flex flex-column w-100 align-items-center cat">
      <label class="mt-2 filter-label" for="environmentalImpactFeature"
        >Environmental Impact Feature</label
      >
      <p-multiSelect
        [options]="environmentalImpactList"
        formControlName="environmentalImpactFeature"
        optionLabel="description"
        optionValue=""
        [formGroup]="steperForm"
        id="environmentalImpactFeature"
        placeholder="Select category"
      ></p-multiSelect>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="finish()">Finish</button>
    </div>
  </div>
</form>
