<div class="container">
  <div class="row">
    <div class="col-md-4 my-1">
      <meal-card
        title="Lasagna"
        subtitle="Breakfast"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, tempore."
        envImpact="1"
      ></meal-card>
    </div>
    <div class="col-md-4 my-1">
      <meal-card
        title="Beef"
        subtitle="Lunch"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, tempore."
        envImpact="1"
      ></meal-card>
    </div>
    <div class="col-md-4 my-1">
      <meal-card
        title="Pizza"
        subtitle="Dinner"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, tempore."
        envImpact="2"
      ></meal-card>
    </div>
    <div class="col-md-4 my-1">
      <meal-card
        title="Chicken"
        subtitle="Dinner"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, tempore."
        envImpact="2"
      ></meal-card>
    </div>
    <div class="col-md-4 my-1">
      <meal-card
        title="Pasta pesto"
        subtitle="Dinner"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, tempore."
        envImpact="3"
      ></meal-card>
    </div>
  </div>
</div>
