/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$primary-color: #9AD2B2 !default;
$primary-white-color: #ffffff !default;
$secondary-color: #626262 !default;
$primary-color-transparent: #9ad2b2a3 !default;



a {
    text-decoration: none !important;
    background-color: transparent !important;
    color: transparent !important;
}

.ecohack-primary-button {
    border: 1px solid $primary-color;
    color: #ffffff;
    padding: 10px 50px;
    font-size: 30px;
    background-color: $primary-color-transparent;

    &:hover {
        border-color: #ffffff;
        background-color: $primary-color;
        color: #ffffff;
    }
}

.btn-primary {
    background-color: $primary-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 2px !important;
}